<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <%= render partial: 'common/favicon' %>

  <%= display_meta_tags %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>

  <%= stylesheet_link_tag  'paralax', media: 'all' %>
</head>
<body class="animsition">
  <%= render 'common/loading' %>
  <%= render 'paralax_common/header' %>

  <%= yield %>

  <%= render 'paralax_common/footer' %>

  <%= javascript_include_tag 'paralax' %>
</body>
</html>
